<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">vue_fip:1/1 ::am001</title>
<link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.45/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="l1.js" type="module"></script>
<script>
    const fd = {}
</script>

<body class="w3-container">
    <div id="headPage" class="w3-border-bottom am-max-width-1">
        <span class="w3-hide">{{count}}</span>
        <span class="w3-small">
            <a href="/" class="w3-btn w3-border1 w3-padding-small">
                <img style="display: flex;" src="/f/css/homeIcon.svg">
            </a>
            &nbsp;
            <span class="w3-dropdown-hover">
                <a @click="initLink" class="w3-btn w3-padding-small w3-border">
                    <i class="fas fa-redo"></i>
                </a>
                <div class="w3-dropdown-content w3-leftbar w3-border w3-container">
                    &nbsp;
                    <div>
                        <button class="w3-btn w3-border w3-ripple" @click="initShortLink">
                            make Short Link
                        </button>
                    </div>
                    <a :href="sn().shortUrlHash">
                        {{sn().shortUrlHash}}
                    </a>
                    &nbsp;
                </div>
            </span>
        </span>
        <a href="http://algoritmed.com/" class="am-0u w3-right">
            <img src="/f/img/algoritmed-logo.webp" style="width:75px;" />
        </a>
        &nbsp; <span class="w3-tiny am-b w3-topbar">FIP:</span>
        <span class="w3-small">
            1/1 ⁙ FHIR Info Page convert/output forms : MCrDB -> [SQL, JSON]
        </span>
    </div>

    <div id="fpc01" class="am-max-width-1">
        <span class="w3-hide">{{count}}</span>
        <div class="w3-border-bottom">
            Hi FIP! =>
            <span class="w3-small" v-for="n in sn().jn.pps.filter(n=>!n.includes('pps'))">
                <a :href="'#'+ppsHref(n)"> {{sn().fcw[n]}} </a> , </span>
            <span class="w3-right">
                <span class="w3-dropdown-click">
                    <button @click="clickPagePartEd"
                        class="w3-btn w3-ripple w3-padding-small w3-small">&nbsp;&nbsp;{{ppMenuList.join(',')}}&nbsp;☰&nbsp;</button>
                    <div id="pagePartEd" class="w3-dropdown-content w3-container w3-hover-shadow w3-border"
                        style="right: -1em; width: 30em;">
                        &nbsp;
                        <div v-for="(ppItem, keyPagePart) in sn().fcw" class="w3-hover-shadow">
                            <div class="w3-hover-shadow">
                                <input :value="sn().jn[keyPagePart].join(',')" class="w3-hover-shadow">
                                &nbsp; <span class="w3-opacity w3-right am-u">
                                    {{keyPagePart}}: <span class="w3-small am-i"> {{ppItem}} </span>
                                </span>
                                <!-- <div v-if="sn().jn['p_'+keyPagePart]"> -->
                                <div v-if="keyPagePart!='lr'">
                                    <span class="w3-tiny am-b">&nbsp;right panel:&nbsp;</span>
                                    <span v-for="k2 in sn().jn[keyPagePart]">
                                        <span class="w3-hover-shadow">
                                            <label>
                                                <input type="checkbox" :id="'p_'+keyPagePart+'_'+k2" :value="k2"
                                                    v-model="sn().jn['p_'+keyPagePart]" @input="inputPanelPart">&nbsp;
                                                {{k2}}</label>
                                        </span>,
                                    </span>
                                    &nbsp; <span class="w3-tiny w3-opacity"> {{sn().jn['p_'+keyPagePart]}} </span>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                </span>
            </span>
        </div>
        <div v-for="pagePart in sn().jn.pps">
            <t-page-part v-if="'pps'!=pagePart" :page-part="pagePart"></t-page-part>
        </div>
        &nbsp;
    </div>

    <template id="tPagePart">
        <span class="w3-hide">{{count}}</span>
        <!-- w3-pale-yellow -->
        <div class="w3-container w3-topbar w3-light-grey">
            <span class="w3-tiny">{{pagePart}}: &nbsp;</span>
            <span class="w3-hover-shadow am-u" @click="ppClick(pagePart)">
                &nbsp; {{sn().fcw[pagePart]}} &nbsp;
            </span>
            <span class="w3-tiny w3-right">
                {{pagePart}} ⁙
                <span v-for="n in sn().jn[pagePart]" class="w3-hover-shadow">
                    <a @click="ppToFirst(pagePart, n)" class="am-u">
                        {{n}}
                    </a>
                    ,
                </span>
                <span v-if="sn().panel.l[pagePart]">|
                    {{sn().panel.l[pagePart]}}
                </span>
            </span>
        </div>
        <template v-if="sn().panel.l[pagePart]">
            <div class="w3-row" :class="{'w3-hide':sn().ppClose.includes(pagePart)}">
                <div class="w3-half">
                    <div class="w3-border-bottom" v-for="adnId in sn().jn[pagePart]">
                        <t-adntree :adn-id="adnId"></t-adntree>
                    </div>
                </div>
                <div class="w3-half w3-container">
                    <div class="w3-border-bottom" v-for="adnId in sn().panel.l[pagePart]">
                        <t-adntree :adn-id="adnId"></t-adntree>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div :class="{'w3-hide':sn().ppClose.includes(pagePart)}" class="w3-border-bottom"
                v-for="adnId in sn().jn[pagePart]">
                <template v-if="isPanel(adnId)">
                    <div class="w3-row">
                        <div class="w3-half">
                            <t-adntree :adn-id="adnId" :page-part="pagePart"></t-adntree>
                        </div>
                        <div class="w3-half w3-container">
                            <span class="w3-dropdown-hover w3-hover-shadow w3-white">
                                <button title="Оновити" class="w3-tiny am-b am-u w3-btn w3-padding-small"
                                    @click="count++">{{sn().p[pagePart][adnId].buildType||'buildJSON'}}:</button>
                                <div class="w3-border w3-dropdown-content w3-container w3-hover-shadow">
                                    <button class="w3-btn" @click="buildType('buildJSON', adnId)">buildJSON</button>
                                    <button class="w3-btn" @click="buildType('buildSQL', adnId)">buildSQL</button>
                                </div>
                            </span>
                            <span class="w3-small"
                                v-if="'buildJSON'==sn().p[pagePart][adnId].buildType || !sn().p[pagePart][adnId].buildType">
                                <button class="w3-btn w3-padding-small am-u"
                                    :class="{'w3-light-grey':'Structure'==sn().p[pagePart][adnId].typeOf}"
                                    @click="buildJSON(adnId,'Structure');count++">Structure</button>
                                +/-
                                <button class="w3-btn w3-padding-small am-u"
                                    :class="{'w3-light-grey':isJsonPart(adnId,'metaContentId')}"
                                    @click="buildJSON(adnId,'add_metaContentId')">metaContentId</button>
                                ,
                                <button class="w3-btn w3-padding-small am-u"
                                    :class="{'w3-light-grey':'NativeMetaContent'==sn().p[pagePart][adnId].typeOf}"
                                    @click="buildJSON(adnId,'NativeMetaContent');count++">NativeMetaContent</button>
                            </span>
                            <span class="w3-small"
                                v-if="'buildSQL'==sn().p[pagePart][adnId].buildType || !sn().p[pagePart][adnId]">
                                SELECT
                            </span>
                            <div v-if="isOpenChild(adnId)" style="white-space: pre; overflow: auto;"
                                class="w3-opacity w3-small w3-border-top">
                                ⌖ Hello buildJSON! ⌖
                                {{jsonStr(adnId)}}
                                <div>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <t-adntree :adn-id="adnId" :page-part="pagePart"></t-adntree>
                </template>
            </div>
        </template>
    </template>

    <template id="tAdntree">

        <div class="w3-hover-shadow">
            <span class="w3-right w3-dropdown-hover w3-hover-shadow w3-white">
                <span class="w3-tiny">&nbsp;
                    r: {{i('reference')}}, r2: {{i('reference2')}}&nbsp;
                </span>
                <div class="w3-border w3-dropdown-content w3-container w3-hover-shadow" style="right: -1em;">
                    <span class="w3-right w3-tiny">
                        <span class="am-b">↥</span>
                        <span class="w3-hover-shadow">{{i('parent')}}</span>
                        <span class="am-b">↥</span>
                    </span>
                    ⏻-MENU-
                </div>
            </span>
            <span @click="adnClick(adnId)"
                class="w3-small w3-hover-shadow">{{i('doc_id')||('-&nbsp;'+adnId+'&nbsp;‒open‒this‒')}}&nbsp;&nbsp;</span>
            {{i('value_22')}}
            <span class="w3-small"> <span v-if="i('r_value_22')">::</span>{{i('r_value_22')}} </span>
            <span class="w3-tiny" v-if="i('rr_value_22')">::{{i('rr_value_22')}}</span>
            <span v-if="i('r2_value_22')">&nbsp;:&nbsp;<span class="am-i">{{i('r2_value_22')}}</span></span>
        </div> <span class="w3-hide"> {{count}} </span>
        <div class="w3-container w3-border-left" v-if="isOpenChild(adnId)">
            <div v-for="adnId in parentChild(adnId,event)">
                <t-adntree :adn-id="adnId"></t-adntree>
            </div>
        </div>

    </template>

    <script src="p.js" type="module"></script>

</body>

</html>