<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">vue_fip:1/1 ::am001</title>
<link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.45/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="l1.js" type="module"></script>
<script>
    const fd = {}
</script>

<body class="w3-container">
    <div id="headPage" class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border1 w3-padding-small w3-small">
            <img style="display: flex;" src="/f/css/homeIcon.svg">
        </a>
        <a href="http://algoritmed.com/" class="am-0u">
            <img src="/f/img/algoritmed-logo.webp" style="width:75px;" />
        </a>&nbsp;
        &nbsp; <span class="w3-tiny am-b w3-topbar">FPC:</span>
        ⁙ FIP ⁙ 
        <span class="w3-small">
            1/1 FHIR Info Page  convert/output forms : MCrDB -> [SQL, JSON]
        </span>
    </div>

    <div id="fpc01" class="am-max-width-1">
        <div class="w3-border-bottom">
            Hi FIP!
            =>
            <span v-for="aIds in sn.hashVrVl" class="w3-small">
                {{aIds}},
            </span>
        </div>
        <div>
            <template v-for="(adnId, ix) in sn.hashVrVl">
                <div v-if="ix>0" class="w3-border-bottom">
                    <t-adntree :adn-id="adnId"></t-adntree>
                </div>
            </template>
        </div>
    </div>

    <template id="tAdntree">

        <div class="w3-hover-shadow">
            <span class="w3-right w3-dropdown-hover w3-hover-shadow w3-white">
                <span class="w3-tiny">&nbsp;
                    r: {{i('reference')}}, r2: {{i('reference2')}}&nbsp;
                </span>
                <div class="w3-border w3-dropdown-content w3-container w3-hover-shadow" style="right: -1em;">
                    <span class="w3-right w3-tiny">
                        <span class="am-b">↥</span>
                        <span class="w3-hover-shadow">{{i('parent')}}</span>
                        <span class="am-b">↥</span>
                    </span>
                    ⏻-MENU-
                </div>
            </span>
            <span @click="adnClick(adnId)"
                class="w3-small w3-hover-shadow">&nbsp;{{i('doc_id')||('-'+adnId)}}&nbsp;</span>
            {{i('value_22')}}
            <span class="w3-small"> <span v-if="i('r_value_22')">::</span>{{i('r_value_22')}} </span>
            <span class="w3-tiny" v-if="i('rr_value_22')">::{{i('rr_value_22')}}</span>
            <span v-if="i('r2_value_22')">&nbsp;:&nbsp;<span class="am-i">{{i('r2_value_22')}}</span></span>
        </div> <span class="w3-hide"> {{count}} </span>

        <div class="w3-container w3-border-left" v-if="parentChild(adnId).length>0">
            <div v-for="adnId in parentChild(adnId)">
                <t-adntree :adn-id="adnId"></t-adntree>
            </div>
        </div>

    </template>

    <script src="p.js" type="module"></script>

</body>

</html>