HELP.md
.gradle
.vscode
.idea
build/
bin/
gradle*
*.swp
**/*.swp
src/main/resources/application copy.properties
src/main/resources/application.properties
src/main/resources/static/fpc/1/x.json
src/main/resources/static/fpc/1/xx.json
src/main/resources/static/twiki/1/x.html
src/main/resources/static/tmp/*
mis001pg.session.sql
.idea/compiler.xml
.idea/jarRepositories.xml
