<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">ddPersonal</title>
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.3.4/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="i.js" type="module"></script>

<body class="w3-container">
    The Table with scroll
    <div class="am-max-width-1">
        <div id="tGridTable1"></div>
        <div style="height:2em;" class="w3-border">dsds</div>
    </div>
    Table kassa.entry simple demo
    <div id="tDbTable02">
        {{count}}
        <table class="w3-small">
            <tr class="w3-tiny">
                <th v-for="c in colList()"> {{c}} </th>
            </tr>
            <tr v-for="r in list()" >
                <td class="w3-border-bottom w3-border-left" v-for="c in colList()"> {{r[c]}} </td>
            </tr>
        </table>
    </div>
</body>

</html>
