<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">{{siteTitle}} ::am001</title>
<link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.47/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="i.js" type="application/javascript"></script>

<body class="w3-container">
    <div id="headPage" class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border1 w3-padding-small w3-small">
            <img style="display: flex;" src="/f/css/homeIcon.svg">
        </a>
        <a href="http://algoritmed.com/" class="am-0u">
            <img src="/f/img/algoritmed-logo.webp" style="width:75px;" />
        </a>&nbsp;
        &nbsp; <span class="w3-tiny am-b w3-topbar">aTaC:</span>
    </div>
    <div id="atac01" class="am-max-width-1" :key="edCellAdress">
        <span class="w3-tiny am-b"> aTaC: </span> {{edCellAdress}}:
        <span class="w3-right w3-tiny w3-hover-shadow" @click="tc.withFormula=!tc.withFormula">
            ⌖ 𝑓 {{siteTitle}} {{count}} </span>
        <div class="w3-row">
            <div class="w3-col w3-small" style="width:100px">
                dMap:
                <div v-for="(v,k) in dMap" class="w3-hover-shadow">
                    ⌖{{k}}:{{v}}
                </div>

            </div>
            <div class="w3-rest ">
                <table class="w13-table w3-border-top">
                    <tr>
                        <th>&nbsp;</th>
                        <th v-for="c in tc.sqSeListC()" class="w3-tiny w3-light-grey">
                            C{{c}}
                        </th>
                    </tr>
                    <tr v-for="r in tc.sqSeList()">
                        <th class="w3-tiny w3-light-grey">R{{r}}</th>
                        <td v-for="cXr in tc.sqSeListC()">
                            <div>
                                <a :href="'#cell_C'+cXr+'R'+r" class="am-0u">
                                    <div class="w3-hover-shadow w3-border-right w3-border-bottom"
                                        @click="cellClick(cellCoordinate(cXr,r));tc.openEdit=!tc.openEdit"
                                        :class="{'w3-border':cellCoordinate(cXr,r)==edCellAdress}">
                                        <span v-if="cellValue(r,cXr).v.v">
                                            {{cellValue(r,cXr).v.v}}
                                            <span :class="{'w3-hide':!tc.withFormula}">
                                                <span class="w3-small" v-if="cellValue(r,cXr).v.sum"> 𝑓<span
                                                        class="w3-tiny">{{cellValue(r,cXr).v}} </span>
                                                </span>
                                                <span class="w3-small"> ⌖{{tc.vRC[r][cXr]}} </span>
                                            </span>
                                        </span>
                                        <span v-else>&nbsp;</span>
                                    </div>
                                </a>
                                <div class="w3-dropdown-content w3-border w3-container w3-leftbar"
                                    :class="{'w3-show':cellCoordinate(cXr,r)==edCellAdress && tc.openEdit}">
                                    <t-tac01-edcell :vl="cellValue(r,cXr).v.v" :key="edCellAdress"
                                        :dm-key="tc.vRC[r]&&tc.vRC[r][cXr]"></t-tac01-edcell>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <template id="tTac01Edcell">
        <div v-if="isFn(dmKey)||tc.openEditFn" class="w3-border-bottom" style="margin-bottom: 5px;">
            <div class="w3-bar w3-small">
                <span class="w3-dropdown-hover">&nbsp;𝑓:{{fnName(dmKey)}}&nbsp;
                    <div class="w3-dropdown-content w3-border w3-container" style="left: -5px;">
                        <span class="w3-bar">𝑓:
                            <template v-for="f in fnList.split('_')">
                                <button class="w3-btn w3-padding-small" :class="{'w3-grey':f==fnName(dmKey)}"
                                    @click="addFn(f)" v-if="f.length>0">{{f}}</button>
                            </template>|
                        </span>
                    </div>
                </span>:
                <button v-for="n in dmKeysWS()" @click="fnAtt(n)"
                    :class="{'w3-grey':fnName(dmKey) && o()[fnName(dmKey)].indexOf(1*n)>=0}"
                    class="w3-btn w3-circle w3-padding-small">{{n}}</button>
                <span class="w3-tiny w3-right">𝑓 {{count}}</span>
            </div>
        </div>
        <div v-if="!isIFn()||(tc.openEditFn&&isIFn())">
            ⌖ <input :value="vl" @input="it">
        </div>
        <button class="w3-btn w3-border" @click="okSave(); tc.openEdit=false">Запис</button>
        <button class="w3-btn w3-border" @click="tc.openEdit=false">Закрити</button>
        <button class="w3-btn" @click="okRemove(); tc.openEdit=false"><i class="fa-solid fa-eraser"></i></button>
        &nbsp;
        <button class="w3-btn w3-right" @click="tc.openEditFn=!tc.openEditFn"
            :class="{'w3-grey':isFn(dmKey), 'w3-light-grey':tc.openEditFn}">𝑓
            <sub>()</sub></button>
        <div class="w3-tiny">
            {{o()}}
        </div>
    </template>

    <script src="p.js" type="module"></script>
</body>

</html>
