<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">FIP.am001</title>
<link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.47/dist/vue.global.prod.js" type="application/javascript"></script>
<!-- <script type="application/javascript">const fd = {}</script> -->

<body class="w3-container">
    <div class="w3-border-bottom am-max-width-1">
        <span class="w3-small">
            <a href="/" class="w3-btn w3-padding-small">
                <img style="display: flex;" src="/f/css/homeIcon.svg"> </a>
            <span id="showDocId"> &nbsp; FIP 📂 ➾ </span>
            <span class="w3-small">
                1/2 ⁙ <span class="am-u"><b>F</b>HIR <b>I</b>nfo <b>P</b>age</span> convert/output forms : MCrDB ->
                [SQL, JSON]
            </span>
        </span>
        <a href="http://algoritmed.com/" class="am-0u w3-right w3-hover-shadow" target="_blank">&nbsp;<img
                src="/f/img/algoritmed-logo.webp" style="width:75px;" />&nbsp;</a>
    </div>

    <div class="am-max-width-1">
        <div id="ppSort" class="w3-border-bottom">
            <span class="w3-tiny am-b"> Page parts </span> ➾
            <span @click="ppsHref(pp)" title="make first" v-for="pp in fipi().pps" class="w3-small w3-hover-shadow">
                {{fip(pp)}}
                , </span> <span class="w3-hide"> {{count}} </span>
            <span class="w3-right"> <t-pp-cmd-ed-menu /> </span>
        </div>

        <div id="tPageParts">
            <div v-for="pp in fipi().pps">
                a1
                <div class="w3-container w3-topbar w3-light-grey">
                    <span class="w3-tiny"> {{pp}}: </span>
                    <span class="w3-hover-shadow am-u" @click="ppClick(pp)">
                        &nbsp; {{fip(pp)}} &nbsp;
                    </span>
                    <span class="w3-tiny w3-right">
                        <span class="am-i"> {{pp}} </span>
                        ⁙ <span @click="ppIdsClick(pp, ppId)" class="w3-hover-shadow" v-for="ppId in fipi().json[pp]">
                            {{ppId}}, </span>
                    </span>
                </div>
                <div :class="{'w3-hide':sn().ppClose.includes(pp)}">
                    <div v-for="adnId in ppIds(pp)" class="w3-border-bottom">
                        <div v-if="fipi().pl2[pp] && fipi().pl2[pp][adnId]" class="w3-row">
                            <div class="w3-half"> <t-fhir-part :adn-id="adnId"></t-fhir-part> </div>
                            <div class="w3-half">
                                <t-build-sql :adn-id="adnId" :pp="pp"
                                    v-if="'buildSQL'==panel2Conf(adnId, pp).buildType"></t-build-sql>
                                <t-build-json v-else :adn-id="adnId" :pp="pp"></t-build-json>
                            </div>
                        </div>
                        <t-fhir-part :adn-id="adnId" v-else></t-fhir-part>

                    </div>
                </div>
            </div> <span class="w3-hide"> {{count}} </span>
        </div>

    </div>
    🗎
    <script src="i.js" type="module"></script>
</body>

</html>