<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">tWIKI:01 ::am001</title>
<link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.45/dist/vue.global.prod.js" type="application/javascript"></script>
<script>
    const fd = {}
</script>

<body class="w3-container">
    <div id="twiki">
        <div class="w3-border-bottom am-max-width-1">
            <span class="w3-hide">{{count}}</span>
            <span class="w3-small">
                <a href="/" class="w3-btn w3-border1 w3-padding-small">
                    <img style="display: flex;" src="/f/css/homeIcon.svg">
                </a>
                &nbsp;
                Hi tWIKI
                {{count}}
                <button @click="count++" class="w3-btn w3-ripple w3-padding-small w3-border">📂 open</button>
            </span>
            <a href="http://algoritmed.com/" class="am-0u w3-right w3-hover-shadow" target="_blank">&nbsp;<img
                    src="/f/img/algoritmed-logo.webp" style="width:75px;" />&nbsp;</a>
        </div>


        <div class="am-max-width-1">
            <h1 class="w3-border-bottom">
                {{ea(session().page, 'value_22')}}
            </h1>
            <template v-for="adnId in parentChild(session().page)">
                <template v-if="'ORDER'==ea(adnId, 'r_value_22')">
                    <template v-for="adnId2 in parentChild(adnId)">
                        <p v-if="'p'==ea(adnId2, 'r_value_22')">
                            {{ea(adnId2, 'value_22')}}
                        </p>
                    </template>
                </template>
                <h2 class="w3-border-bottom" v-if="'h2'==ea(adnId, 'r_value_22')">
                    {{ea(adnId, 'value_22')}}
                </h2>
            </template>
        </div>
    </div>
    <script src="p.js" type="module"></script>

</body>

</html>