<!DOCTYPE html>
<html id="pageApp">
<meta charset="utf-8" />
<title>am001: {{siteTitle}} </title>
<link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.45/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="d.js" type="application/javascript"></script>

<body class="w3-container">
    <div class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border1 w3-padding-small w3-small">
            <img style="display: flex;" src="/f/css/homeIcon.svg">
        </a>
        <a href="http://algoritmed.com/" class="am-0u">
            <img src="/f/img/algoritmed-logo.webp" style="width:75px;" />
        </a>
        : Go:<a href="#app1">app1</a>|<a href="#app2">app2</a> {{count}}
        <span class="w3-right w3-tiny">
            Hi {{siteTitle}}!
        </span>
    </div>
    <div id="x1"></div>
    <div class="w3-row w3-border-bottom">
        <div id="app1" class="w3-half">app1
            {{count}}
            <am-ct01></am-ct01>
            a1
            <am-tt01></am-tt01>
            a2
        </div>
        <template id="tt01">
            <div>Hi tt01 World! {{count}} a22</div>
        </template>
        <div id="app2" class="w3-half">app2
            {{count}}
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half" v-for="lr in ['l','r']" style="height: 79vh; overflow: auto;">
            {{lr}}
            <div v-for="adnId in tree[lr]">
                {{adnId}}
            </div>
        </div>
    </div>
    <script src="i.js" t1ype="module"></script>
</body>

</html>