<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">4DOM:{{hash}}</title>
<!-- <link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css"> -->
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.47/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="/f/kassa3r/Grid/BibleotekaGrid.js" type="application/javascript"></script>
<body class="w3-container width:300px overflow:auto">
    <div id="app1">

        <p class="w3-tangerine w3-xxlarge">
            Довідник одиниц виміру .
        </p>
        <table class="w3-row">
             <tr>
                <td   id="nn7" @click="Sort(2)" width=150px class=" w3-center w3-border">№№</td>
                <td   id="nn8" @click="Sort(3)" width=150px class=" w3-center w3-border">Од. ізм</td>
            </tr> 
            </table>
            <input type="text"  v-model="p1"    class="w3-border" style="width: 60px;">
            <input type="text"  v-model="lname" class="w3-border" style="width: 150px;">

           <p>пошук {{ p1 }}</p>

        <div style="width:870px; height:400px; overflow:auto;"> <!--Панель таблици данних -->
            <div class="w3-row w3-border w3-hover-shadow"  v-for="row in data().table">
                <!--div class="w3-col" style="width: 60px;">
                    <div class="w3-dropdown-hover w3-white am-width-100pr">
                        &nbsp;{{row.id}} &nbsp;
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                            <a @click="AddString()" class="w3-bar-item w3-button">Добавити </a>
                            <a @click="Read(row)"   class="w3-bar-item w3-button">Редагувати</a>
                            <a @click="Del(row)"   class="w3-bar-item w3-button">В идалити</a>
                        </div>
                    </div>
                </div-->

                <div :style="{'width': data().colClassStylePole[cn].width}" 
                    :class="data2().colClassStylePole[cn].classpole" v-for="cn in data().colNames">
              {{formatingpole(data().colClassStylePole[cn].formatpole, row[cn]) }}
                </div>
            </div>
        </div>
        <div class="w3-row w3-border w3-hover-shadow" style="width:870px; overflow:auto;" v-for="row in data().tablefooter">
            <div :style="{'width': data().colClassStylePole[cn].width}" :class="data().footer1[cn].classpole"
                v-for="cn in data().colNames">
               {{agregatePole(data().footer1[cn].footer1, cn)}}
            </div>
        </div>

    </div>    
<div>


</div>
 

    <script src="BibleotekaGrid.js" type="module"></script>

</body>

</html>