<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<title id="headTitle">am001: {{siteTitle}} </title>
<link rel="stylesheet" href="/webjars/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet" href="/f/css/am.css">
<script src="/webjars/vue/3.2.45/dist/vue.global.prod.js" type="application/javascript"></script>
<script src="algoritmed.jsLib1.js" type="application/javascript"></script>

<body class="w3-container">
    <div id="headPage" class="w3-border-bottom am-max-width-1">
        <a href="/" class="w3-btn w3-border1 w3-padding-small w3-small">
            <img style="display: flex;" src="/f/css/homeIcon.svg">
        </a>
        <a href="http://algoritmed.com/" class="am-0u">
            <img src="/f/img/algoritmed-logo.webp" style="width:75px;" />
        </a>&nbsp;
        <span class="w3-dropdown-hover">
            <button class="w3-btn w3-padding-small w3-border" @click="rld">
                <i class="fa-solid fa-arrow-rotate-right fa-flip-horizontal"></i>
            </button>
            <div class="w3-dropdown-content w3-border w3-leftbar w3-container"
                style="left: -50px; padding-top: 10px; padding-bottom: 15px;">
                <a v-bind:href="'#tree_'+treeStr()" class="w3-tiny ">
                    <div class="w3-hover-shadow">
                        tree_ {{treeStr()}}
                    </div>
                </a>
            </div>
        </span>
        <span class="w3-right w3-tiny"> Hi: {{siteTitle}}!
            <span class="w13-hide"> {{count}} </span>
        </span>
    </div>

    <div class="w3-border-bottom am-max-width-1">
        <span class="w3-small">
            Моделювання даних і їх структур з кодом автоматичного SQL
        </span>
        <span class="w3-right">
            <a href="https://www.compart.com/en/unicode/U+232A" class="am-0u"> 〉 </a>
        </span>
    </div>
    <div class="w3-row w3-border-bottom" id="oed01">
        <span class="w3-hide"> {{count}} </span>
        <div class="w3-half" v-for="lr in ['l','r']" style="height: 69vh; overflow: auto;">
            <div v-for="adnId in init.tree[lr].id" :key="adnIdMO">
                <div class="w3-hover-shadow" @mouseover="adnMO(adnId)">
                    <t-oed01-lmenu :adn-id="adnId"></t-oed01-lmenu>
                    <t-oed01-value :adn-id="adnId" :lr="lr"></t-oed01-value>
                    <t-oed01-mo :adn-id="adnId"></t-oed01-mo>
                </div>
                <div class="w3-border-left w3-container" v-if="init.tree[lr].openIds.includes(adnId)">
                    <t-oed01-oc :parent-id="adnId" :lr="lr"></t-oed01-oc>
                </div>
            </div>
        </div>
    </div>
    END:page::content

    <template id="tOed01Oc">
        <template v-for="adnId in parentChild[parentId]">
            <div class="w3-hover-shadow" @mouseover="adnMO(adnId)">
                <t-oed01-lmenu :adn-id="adnId"></t-oed01-lmenu>
                <t-oed01-value :adn-id="adnId" :lr="lr"></t-oed01-value>
                <t-oed01-mo :adn-id="adnId" :key="adnIdMO"></t-oed01-mo>
            </div>
        </template>
    </template>
    <template id="tOed01Edan">
        a2
    </template>
    <template id="tOed01Mo">
        <!-- <span class="w3-tiny"> -->
        <a class="w3-btn w3-right" @click="closeAdnVlMenu" v-if="openedAdnVlMenu==adnId">
            <i class="fas fa-edit w3-text-blue w3-tiny"></i>
        </a>
        <span class="w3-dropdown-hover w3-hover-shadow  w3-right" v-if="adnId==adnIdMO">
            <span class="w3-small w3-opacity"> &nbsp;
                &nbsp; <i class="fas fa-ellipsis-v"></i> &nbsp; &nbsp;
            </span>
            <div class="w3-dropdown-content w3-border" style="right: 5px; width: 220px;">
                <div class="w3-tiny w3-right w3-opacity w3-hover-shadow">
                    p:{{i('parent')}}
                    <span class="w3-small">↧</span>
                </div>
                <div class="w3-red w3-large" v-if="!i('parent')"> No Node! </div>
                <div v-else>
                    <button class="w3-btn w3-ripple "><i class="fas fa-level-up-alt fa-flip-horizontal"></i></button>
                    {{i('doc_id')}}
                    <button class="w3-btn w3-ripple w3-right"><i class="fas fa-level-up-alt"></i></button>
                </div>
            </div>
        </span>
    </template>
    <template id="tOed01Value">
        <a @click="childOnOff(adnId, lr)" :href="'#child_'+adnId+'_'+lr" class="w3-hover-shadow am-0u">
            {{i('value_22')}}
            {{(!i('value_22')&&!i('r_value_22'))?'|?|':''}} </a>
        <span class="w3-tiny"> <sub v-if="reference">r:{{i('reference')}}</sub>
            {{i('rr_value_22')}}<span v-if="i('rr_value_22')">::</span>{{i('r_value_22')}}<span
                v-if="i('r_value_22')">:</span>
        </span>
        <span class="w3-small am-i"> {{i('r2_value_22')}} <sub v-if="i('reference2')"> r2:{{i('reference2')}} </sub>
        </span>
    </template>

    <template id="tOed01Lmenu">
        <span class="w3-dropdown-hover w3-white">
            <span class="w3-tiny">{{adnId}}</span>
            <span class="w3-hide"> {{count}} </span>
            <div class="w3-dropdown-content w3-border" style="width: 200px;">
                <div class="w3-red w3-large" v-if="!i('parent')"> No Node!</div>
                <span v-else>
                    <button class="w3-btn"> <i class="fas fa-caret-up"></i> </button>
                    <button class="w3-btn"> <i class="fas fa-caret-down"></i> </button>&nbsp;|
                    <button class="w3-btn"> <i class="fas fa-plus"></i> </button>
                    <button class="w3-btn"> <i class="fas fa-minus"></i> </button>
                    <div class="w3-border-top">
                        <button @click="closeAdnVlMenu" class="w3-btn"> <i class="fas fa-edit w3-text-blue"></i>
                        </button>
                        <button @click="edAdnValue01" class="w3-btn"> <i class="fas fa-edit"></i> </button>
                        <div v-if="adnId==openedAdnVlMenu"
                            class="w3-dropdown-content w3-card-4 w13-container w3-leftbar">
                            {{adnId==openedAdnVlMenu}}
                            a1
                        </div>
                    </div>
                    <div class="w3-border-top">
                        <button class="w3-btn"> <i class="fa fa-copy"></i> </button>
                        <button class="w3-btn"><i class="fa fa-cut"></i></button>
                        <button class="w3-btn"><i class="fa fa-paste"></i></button>
                    </div>
                </span>
            </div>
        </span>&nbsp;:
    </template>

    <script src="i.js" type="module"></script>
</body>

</html>